* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: arial;
	height: 100%;
	width: 100%;
	display: flex;
}

body {
	display: flex;
	user-select: none;
	margin: 0px;
	padding: 0px;
	font-style: normal;
	height: 100%;
	width: 100%;
}

#centerWrapper {
	position: relative;
	border: 0px;
	width: 100%;
	height: 100%;
	margin: auto;
}

canvas {
	position: fixed;
	width: 100%;
	height: 100%;
}

.buttonGroup {
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	background: #eeeeee;
	border: none;
	border-right: 1px solid gray;
	overflow: hidden;
	height: 100%;
	padding: 8px;
	width: 85px;
}

.buttonGroup button {
	display: block;
	margin: 0 auto;
	outline: none;
	border: none;
	border-bottom: 1px solid blue;
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	cursor: pointer;
	background: #eeeeee;
	width: 90%;
}

.buttonGroup button:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.buttonGroup button:first-child {
	border-top: 1px solid blue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.buttonGroup button img {
	display: block;
	margin: 0 auto;
	width: 25px;
}

.buttonGroup button:hover {
	background: #dddddd;
}

.buttonGroup .active {
	background: #dddddd;
}

#leftWrapper {
	position: relative;
	border: 0px;
	background-color: #eeeeee;
	left: 0px;
	top: 0px;
	overflow-x: hidden;
	width: 300px;
	min-width: 20%;
	height: 100%;
	transition: all 1s;
	padding-left: 80px;
}

#leftWrapper.hide {
	transform: translateX(-100%);
	visibility: hidden;
}

.reSizer {
	width: 3px;
	top: 0;
	right: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: darkgrey;
}

#scrollWrapper {
	background-color: transparent;
	border: 0px solid darkgray;
	height: 95%;
	max-height: 99%;
	overflow: auto;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

#sliders {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

#sliderM,
#sliderN {
	font-size: 14px;
	width: 100%;
}

.entryContainer {
	background-color: transparent;
}

.entryContainer label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 2px;
	margin: 2px;
}

.entryContainer input {
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 20px;
	outline: none;
	width: 100%;
	text-indent: 5px;
}

.entryContainer .buttonDel {
	border: none;
	width: 20px;
	height: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	background-image: url(../img/clear.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.entryContainer .buttonSet {
	border: none;
	width: 20px;
	height: 20px;
	background-image: url(../img/settings.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.entryContainer .buttonVisibility {
	border: 3px solid blue;
	border-radius: 10px;
	width: 25px;
	height: 20px;
}

.entryContainer .buttonDel:hover {
	display: block;
	background-color: lightgray;
}

.entryContainer .buttonSet:hover {
	display: block;
	background-color: lightgray;
}

.entryContainer .buttonVisibility:hover {
	display: block;
}

.entryContainer input:hover {
	font-weight: bolder;
}

.entryContainer input:hover+button {
	display: block;
}

.fourButtons {
	position: absolute;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	z-index: 1111;
	border: 1px solid blue;
	background: #eeeeee;
}

.fourButtons button {
	display: block;
	margin: 0 auto;
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
	width: 20px;
	font-size: larger;
}

.fourButtons button img {
	display: block;
	margin: 0 auto;
	width: 20px;
}

#slideButtons {
	left: 10px;
	bottom: 10px;
}

#zoomButtons {
	left: 10px;
	bottom: 75px;
}

#ucrButtons {
	left: 10px;
	bottom: 150px;
}

.set-popup {
	/* display: none; */
	display: block;
	position: absolute;
	border: 3px solid #f1f1f1;
	background-color: white;
	top: 0;
	right: 0;
	z-index: 9;
	text-align: left;
	height: 100%;
	width: 20%;
}

.setTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	text-align: end;
	background-color: cadetblue;
	padding: 8px 12px;
}
#set-popup .setTitle span {
    color: white;
    font-weight: bold;
}

.setTitle .btn-close:hover {
	opacity: 1;
}

.setContainer {
	display: block;
	font-size: small;
	padding: 10px;
}

.setContainer label {
	display: block;
	width: 100%;
}

.setContainer input {
	margin-bottom: 10px;
	background: #f1f1f1;
	text-indent: 5px;
	width: 100%;
	height: 25px;
	outline: none;
	border: 0;
}

.setContainer input:focus {
	background-color: #ddd;
}

.btn-close {
	background-color: cadetblue;
	color: white;
	padding: 5px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	font-size: 20px;
}

/* TOAST */
#snackbar {
	visibility: hidden;
	/* 	min-width: 250px;
	margin-left: -125px; */
	background-color: #333;
	color: #fff;
	text-align: left;
	border-radius: 10px;
	padding: 10px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 10px;
	font-size: 12px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 10px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 10px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 10px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 10px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

/* TOAST */